<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.faketouch.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <application
        android:name=".parrot.freeflight.FreeFlightApplication"
        android:allowBackup="true"
        android:icon="@drawable/earth"
        android:allowClearUserData="true"
        android:label="LimeLight"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".microsoft.cfd.limelight.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".microsoft.cfd.limelight.SpecifyRole"
            android:parentActivityName=".microsoft.cfd.limelight.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".microsoft.cfd.limelight.MainActivity" />
        </activity>
        <activity
            android:name=".microsoft.cfd.limelight.EventList"
            android:label="@string/title_activity_event_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".microsoft.cfd.limelight.CreateEvent" />
        <activity
            android:name=".microsoft.cfd.limelight.RequestReinforcements"
            android:parentActivityName=".microsoft.cfd.limelight.AssignActivity"/>
        <activity android:name=".microsoft.cfd.limelight.MainActivity"></activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.v2.API_KEY"
            android:value="AIzaSyCJ08SSF3AzFrnJUz4RrUAlFE5CxvBqALk" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJ08SSF3AzFrnJUz4RrUAlFE5CxvBqALk" />

        <activity
            android:name=".microsoft.cfd.limelight.MapsActivity"
            android:label="@string/title_activity_maps" />

        <!-- Used for retrieving location at any point -->
        <service
            android:name=".microsoft.cfd.limelight.Services.LocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".microsoft.cfd.limelight.Services.ServerSyncService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".microsoft.cfd.limelight.Services.RelayService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".parrot.freeflight.transcodeservice.TranscodingService" />
        <service android:name=".parrot.freeflight.updater.FirmwareUpdateService" />
        <service android:name=".parrot.freeflight.service.DroneControlService" />

        <activity
            android:name=".microsoft.cfd.limelight.AssignActivity"
            android:parentActivityName=".microsoft.cfd.limelight.ViewPagerActivity"></activity>
        <activity android:name=".microsoft.cfd.limelight.ViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".microsoft.cfd.limelight.MainActivity"></activity>
        <activity
            android:name=".microsoft.cfd.limelight.SafeMarkedActivity"
            android:parentActivityName=".microsoft.cfd.limelight.MainActivity"></activity>

        <activity
            android:name=".parrot.freeflight.activities.ConnectActivity"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"/>

        <activity
            android:name=".parrot.freeflight.activities.ControlDroneActivity"
            android:configChanges="touchscreen|keyboardHidden|orientation"
            android:finishOnTaskLaunch="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/HudScreen" />

        <activity
            android:name=".parrot.freeflight.activities.DashboardActivity"
            android:finishOnTaskLaunch="true"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <uses-library
            android:name="com.sony.btv.remotesensor"
            android:required="false" />
        <uses-library
            android:name="com.google.android.tv"
            android:required="false" />


    </application>

</manifest>